<div id="<%= dom_id import %>">
  <p>
    <strong>Import code:</strong>
    <%= import.id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= import.status %>
  </p>

  <p>
    <strong>Error:</strong>
    <%= import.error %>
  </p>

  <p>
    <strong>Filename:</strong>
    <%= import.filename %>
  </p>
</div>
