<div id="<%= dom_id import %>">
  <p>
    <strong>Status:</strong>
    <%= import.status %>
  </p>

  <p>
    <strong>Error:</strong>
    <%= import.error %>
  </p>

  <p>
    <strong>Filename:</strong>
    <%= import.filename %>
  </p>

  <p>
    <strong>User:</strong>
    <%= import.user_id %>
  </p>

</div>
