<p style="color: green"><%= notice %></p>

<h1>Imported Contacts</h1>

<div id="contacts">
  <% @contacts.each do |contact| %>
    <%= render contact %>
    <br>
  <% end %>
</div>
<%= paginate @contacts %>
<br>
<%= link_to "Home", root_path %>
<%= link_to "Import a new CSV", new_import_path %>
